Package: anonsurf
Version: 1.0.4
Architecture: all
Maintainer: rajprins
Depends: tor, curl, bleachbit, zenity, iptables, iptables-persistent, secure-delete
Recommends:
Suggests:
Section: net
Priority: optional
Description: Script and simple GUI wrapper for anonymous surfing using Tor and I2P, for Debian/Ubuntu systems
